/.*
/*.pcap
!.gitignore
/current_checksum
/*/tags
/*/*/tags
/*/*/*/tags
/*/*/*/*/tags
/*/*/*/*/*/tags
/app/TestTCP/mainlog1
/app/TestTCP/mainlog2
/app/TestTCP/mainlog3
/app/TestTCP/mainlog4
/app/TestTCP/mainlog5
/app/TestTCP/mainlog6
/app/TestTCP/mainlog7
/app/TestTCP/mainlog8
/app/TestTCP/mainlog9
/app/TestTCP/testAccept1.txt
/app/TestTCP/testAccept2.txt
/app/TestTCP/testConnect1.txt
/app/TestTCP/testConnect2.txt
/app/TestTCP/TestCongestion1.txt
